opencv-python~=4.11.0.86
argparse~=1.4.0
numpy~=2.2.5
pandas~=2.2.3
seaborn~=0.13.2
matplotlib~=3.10.1
pillow~=11.2.1
tqdm~=4.67.1
torchvision~=0.20.1
easydict~=1.13
tensorflow~=2.19.0
scipy~=1.15.2
nibabel~=5.3.2
h5py~=3.14.0
monai~=1.4.0
simpleitk~=2.5.0
medpy~=0.5.2